#header a{
    color: #000;
}
#header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
}
#header-top .header__mid .category{
    height: 40px;
}
#header-top .header__mid .category , .category__left{
    display: flex;
    align-items: center;
}
#header-top .header__mid .category i{
    color:#afafaf;
}
#header-top .header__mid .category__left{
    border: 1px solid #ccc;
    border-radius: 2px;
}
#header-top .header__mid .category__left .all_category{
    width: 200px;
    border-right: 1px solid #ccc;
    padding: 0 10px;
    font-weight: 500;
}
#header-top .header__mid .category__left .all_category i{
    float: right;
    margin-top: 5px;
}
#header-top .header__mid .form__ip{
    display: flex;
}
#header-top .header__mid .form__ip input{
    border-width: 0;
}
#header-top .header__mid .category__right , .home__cart{
    height: 100%;
    display: flex;
    align-items: center;
}
#header-top .header__mid .category__right{
    margin-left: 10px;
    border: 2px solid #40bea7;
}
#header-top .header__mid .home__cart{
    background-color: #40bea7;
    padding: 0 10px;
    color: #fff;
}
#header-top .header__mid .price_products{
    padding: 0 10px;
}

#header-bottom{
    display: flex;
    height: 50px;
    align-items: center;
}
#header-bottom .home__menu{
    height: 100%;
    background-color: #40bea7;
    color: #fff;
    transform: translateY;
    display: flex;
    align-items: center;
    justify-content: center;
}
#header-bottom .header__menu{
    height: 100%;
}
#header-bottom .header__menu .header__menu-list{
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}