@import url("nav-top.css");
@import url("header.css");
@import url("banner.css");
@import url("products.css");
@import url("slider.css");
@import url("mobile.css");
@import url("footer.css");
a{text-decoration: none!important;}
.active_1{color: #40bea7!important;font-weight: 600;}
.active_btn{color: #fff;font-weight: 600;background-color: #3f3f3f;}
.mg{margin: 0!important;}
.item_1{color: #b8b8b8;font-weight: 600;}
.item_2{color: #3f3f3f;font-weight: 600;}
.mg-15{margin: 15px 0px;}
.pad{padding: 10px 0;}
.pad-15{padding: 15px 0px;}
.pad-30{padding: 30px 0;}
input:focus , button:focus{
    border: none;
    outline: none;
    box-shadow: none;
}
.video{
    position: relative;
    text-align: center;
    /* background: url("../image/products/img_45.png") no-repeat;
    background-size: 100% 100%; */
}
.video .text-vd{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.video .text-vd .show_video{
    display: block;
    margin: 0 auto;
}
.video .text-vd  p:nth-of-type(1){
    color: #e0e0e1;
    font-size: 40px;
}
.video .text-vd > p:nth-of-type(2){
    font-size: 16px;
    color: #fff;
}

/* ******BACK-TO-TOP***** */
.back-to-top{
    position: fixed;
    bottom: 10%;
    right: 30px;
    z-index: 9999;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 30px;
    background: #fff;
    color: #393d3f;
    cursor: pointer;
    border: 2px #393d3f solid;
    border-radius: 50%;
    display: none;
}
.back-to-top i{
    font-size: 20px;
}
/* *********END*********** */


.video_modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    display: none;
}
.video_modal .video_modal-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}